[Desktop Entry]
Name=4KTUBE
StartupWMClass=4KTUBE
Comment=4Ktube for Desktop
GenericName=4Ktube for Linux
Exec=4ktube.sh %u
Icon=com.warlordsoftwares.youtube-downloader-4ktube
Terminal=false
Type=Application
StartupNotify=true
Keywords=download youtube videos;download 4k videos;youtube video downloader;youtube to mp3 converter;video downloader for youtube;
Categories=Utility;Qt;