[Desktop Entry]
Version=1.0
GenericName=4ktube
Name=4KTUBE
Type=Application
Icon=4ktube.png
Keywords=download youtube videos;download 4k videos;youtube video downloader;youtube to mp3 converter;video downloader for youtube;
Exec=4ktube %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=4KTUBE