[Desktop Entry]
Version=1.0
GenericName=4ktube
Name=4KTUBE
Type=Application
Icon=4ktube.png
Keywords=youtube downloader;video downloader;music downloader;playlist downloader;full HD downloader;audio downloader; youtube; youtube music;
Exec=4ktube %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=4KTUBE